@charset "utf-8";

*{
    margin:0px;
    padding: 0px;
    }
    .item-tekst h1{position: absolute;
    color: rgb(0, 0, 0);
    top:17vh;
    left:39vw;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:3vh;
    padding: 2vw ;
    background-color: rgba(255, 255, 255, 0.466);
    
    }

    body{background-image:url(../images/mexicaans\ restaurant.jpg)  }
    body {background-repeat: no-repeat }
    body {background-size: cover}

  
   
        
    .item-hamburger{position: absolute;right: 5vw;top: 8vh}
    .item-hamburger{line-height: 4px;}
    
    summary::-webkit-details-marker {
    display: none; }
    
    header p{font-size: 10rem; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        color :red; }
    
    ul{color:white;font-size:24px}
    
   #item-navigeren a{ 
    font-size:1.5rem;
        text-decoration:none;
        margin-right:7vw;
        
    }
    
    #item-navigeren{position: fixed;
        top: 5vh;
        left: 10vw; 
        }
    #item-navigeren li{float: left;
        padding: 4vw 4vh;list-style:none;
        background-color:rgba(255, 0, 0, 0.377);}
    #item-navigeren a{
        font-size: 0,5rem}
    #item-navigeren a:active, a:visited, a:link 
        {color: white;
        } 
    #item-navigeren a:hover 
    {color: darkgreen;}

    p {
            font-size:12px;
            font-weight:normal;
            font-style:normal;
            line-height:18px;
            color: white;
           
    }
    li{background-color: red;
    
}  


                
.item-logo img{
    height: 100px;
    width:200px;
    position: absolute;
    left: 3vw;top: 6vh
}



div.gallerij {
    margin: 15px;
    border: 3px solid #ccc;
    float: left;
    width: 180px;
    background-color: rgb(0, 0, 0);
  }
  
  div.gallerij img {
    width: 180px;
    height: 100px;
  }
  
  div.tekst {
    padding: 20px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .foto-gallerij{position :absolute;
                top:50vh;
                left:15vw;
                color:white;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.item-social{top:850px;position: relative;}
div.item-social li{float: right;
    padding: 1vw 1vh;background-color:rgba(255, 0, 0, 0.425);font-size:0.5rem;list-style:none;}

   div.item-social{ margin-right:160px}
   div.item-social a{ 
                    font-size:1rem;
                    text-decoration:none;
                    margin-right:7vw;  
                    }