@charset "utf-8";

*{
    margin:0px;
    padding: 0px;
    }

    .item-tekst1{left:15vw;
        top:33vh;
        position: absolute;color:rgb(253, 252, 252);font-size: 3rem;background-color:rgba(0, 0, 0, 0.514);}

.item-tekst{left:3vw;
            top:47vh;
            position: absolute;color:rgb(255, 255, 255);;background-color:rgba(0, 0, 0, 0.514);padding: 5vh;}

.item-foto img{right: 2vw;
            top:38vh;
            position: absolute;;}
.item-foto img{height:50vh; width: 42vw;}

.item-tekst h1{font-family:cursive;
                font-size: 2.5rem;
                color:rgb(253, 249, 249);}
.item-tekst p{font-family:cursive;
              font-size: 1.4rem;color:rgb(255, 255, 255)}

    .item-hamburger{position: absolute;right: 5vw;top: 8vh}
    .item-hamburger{line-height: 4px;}
    
    summary::-webkit-details-marker {
    display: none; }
    
    header p{font-size: 10rem; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        color :red; }
    
    ul{color:white;font-size:24px}
    
   #item-navigeren a{ 
    font-size:1.5rem;
        text-decoration:none;
        margin-right:7vw;
        
    }
    
    #item-navigeren{position: fixed;
        top: 5vh;
        left: 10vw; 
        }
    #item-navigeren li{float: left;
        padding: 4vw 4vh;list-style:none;
        background-color:rgba(255, 0, 0, 0.377);}
    #item-navigeren a{
        font-size: 0,5rem}
    #item-navigeren a:active, a:visited, a:link 
        {color: white;
        } 
    #item-navigeren a:hover 
    {color: darkgreen;}

    p {
            font-size:12px;
            font-weight:normal;
            font-style:normal;
            line-height:18px;
            color: white;
           
    }
    

body{background-image: url("../img/mexicacaanse\ restaurant.jpg " )}
body {background-repeat: no-repeat }
body {background-size: cover}

                
.item-logo img{
    height: 100px;
    width:200px;
    position: absolute;
    left: 3vw;top: 6vh
}
div.item-social{top:850px;position: relative;}
div.item-social li{float: right;
    padding: 1vw 1vh;background-color:rgba(255, 0, 0, 0.425);font-size:0.5rem;list-style:none;}

   div.item-social{ margin-right:160px}
   div.item-social a{ 
                    font-size:1rem;
                    text-decoration:none;
                    margin-right:7vw;  
                    }