@charset "utf-8";

*{
    margin:0px;
    padding: 0px;
    }

    .item-tekst1{margin-left:38.5vw;
        margin-top:8vh;
        position: absolute;color:white;font-size: 3rem;}

.item-tekst{margin-left:8vw;
            margin-top:63vh;
            position: absolute;}

.item-foto{margin-left: 50vw;
            margin-top:45vh;
            position: absolute;;}
.item-foto img{height:50vh; width: 40vw;}

.item-tekst h1{font-family:cursive;
                font-size: 2.5rem;
                color:white;}
.item-tekst p{font-family:cursive;
                font-size: 1.20rem;}

    .item-hamburger{position: absolute;right: 5vw;top: 8vh}
    .item-hamburger{line-height: 4px;}
    
    summary::-webkit-details-marker {
    display: none; }
    
    header p{font-size: 10rem; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        color :red; }
    
    ul{color:white;font-size:24px}
    
    a{ 
    font-size:1.5rem;
        text-decoration:none;
        margin-right:70px;
    }
    
    #item-navigeren{position: fixed;
        top: 10vh;
        left: 20vw}
    #item-navigeren li{float: left;
        padding: 2vw 2vh;}
    #item-navigeren a{
        font-size: 0,5rem}
    #item-navigeren a:active, a:visited, a:link 
        {color: white;
    background-color:red} 
    #item-navigeren a:hover 
    {color: darkgreen;}

    p {
            font-size:12px;
            font-weight:normal;
            font-style:normal;
            line-height:18px;
            color: white;
           
    }
    li{background-color: red;
}

body{background-image: url("../img/mexicaans restaurant.jpg" )}
                
.item-logo img{
    height: 100px;
    width:200px;
    position: absolute;
    left: 3vw;top: 6vh
}