    *{
        margin:0px;
        padding: 0px;
    }

    .item-tekst h1{
        margin-left: 46%;
        width: fit-content;
        color: white;
        padding: 2%;
        font-size: 4rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: grey;
    }

    body{
        background-image:url(../images/mexicaans\ restaurant.jpg);
        background-repeat: repeat;
        background-size: contain;
    }
        
    .item-hamburger{position: absolute;right: 5vw;top: 8vh}
    .item-hamburger{line-height: 4px;}
    
    summary::-webkit-details-marker {
        display: none; }
        
        header p{font-size: 10rem; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
            color :red; }
        
        ul{color:white;font-size:24px}
        
       #item-navigeren a{ 
        font-size:1.5rem;
            text-decoration:none;
            margin-right:7vw;
            
        }
        
        #item-navigeren{position: fixed;
            top: 5vh;
            left: 10vw; 
            }
        #item-navigeren li{float: left;
            padding: 4vw 4vh;list-style:none;
            background-color:rgba(255, 0, 0, 0.377);}
        #item-navigeren a{
            font-size: 0,5rem}
        #item-navigeren a:active, a:visited, a:link 
            {color: white;
            } 
        #item-navigeren a:hover 
        {color: darkgreen;}summary::-webkit-details-marker {
    display: none; }
    
    header p{font-size: 10rem; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        color :red; }
    

    ul{color:white;font-size:24px}
    
   #item-navigeren a{ 
    font-size:1.5rem;
        text-decoration:none;
        margin-right:7vw;
        
    }
    
    #item-navigeren{position: fixed;
        top: 5vh;
        left: 10vw; 
        }
    #item-navigeren li{float: left;
        padding: 4vw 4vh;list-style:none;
        background-color:rgba(255, 0, 0, 0.377);}
    #item-navigeren a{
        font-size: 0,5rem}
    #item-navigeren a:active, a:visited, a:link 
        {color: white;
        } 
    #item-navigeren a:hover 
    {color: darkgreen;}

    p {
        font-weight:normal;
        font-style:normal;
        line-height:18px;
        color: white;
    }
    
    li{
        background-color: red;
    }  
      
    .item-logo img{
        margin: 4% 4% 0 4%;
        height: 100px;
        width:200px;
    }

    div.gallerij {
        margin: 15px;
        border: 3px solid #ccc;
        float: left;
        width: 180px;
        background-color: grey;
    }
  
  div.gallerij img {
    width: 180px;
    height: 100px;
  }
  
  div.tekst {
    padding: 20px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

    .menu{
        width: 70%;
        margin-left: 15%;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .item{
        grid-gap: 2%;
        padding: 2% 0;
        display: grid;
        grid-template-columns: 4fr 2fr;
        border-bottom: 1px solid gray;
        margin: 5%;
    }

    .item-titel{
        margin: 10% 0;
    }

    .price{
        margin: 3% 0;
    }

    .foodimage img{
        margin-top: 12%;
        width: 100%;
    }

    div.item-social li{
        float: right;
        padding: 1vw 1vh;
        background-color:rgba(255, 0, 0, 0.425);
        font-size:0.5rem;
        list-style:none;
    }

   div.item-social{
     margin-right:160px
    }

    div.item-social a{ 
        font-size:1rem;
        text-decoration:none;
        margin-right:7vw;  
    }
